<form [formGroup]="customer">
  <mat-form-field appearance="legacy">
    <input matInput maxlength="255" type="text" formControlName="name" placeholder="Nome" [formControl]="myControl"
      [matAutocomplete]="auto" />
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn(dataSource)"
      (optionSelected)="populateForm($event.option.value)">
      <mat-option *ngFor="let option of filteredCustomers | async " [value]="option.id">
        {{ option.name }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>

<!-- <pre>SEARCH SUPPLIER: {{this.supplier.value | json }}</pre> -->
