<mat-stepper labelPosition="bottom" #stepper>

  <mat-step>
    <ng-template matStepLabel>Selecione um cliente</ng-template>
    <mat-card class="mat-elevation-z3">

      <mat-card-content>
        <app-search-customer (onFormCustomerGroupChange)="onFormCustomerGroupChangeEvent($event)">

        </app-search-customer>
      </mat-card-content>

      <button mat-raised-button type="button" color="secondary" routerLink="/">Cancelar</button>
      <button mat-raised-button type="button" color="primary" matStepperNext>Proximo</button>

    </mat-card>

  </mat-step>

  <mat-step>

    <ng-template matStepLabel>Detalhes da placa</ng-template>

    <mat-card class="mat-elevation-z3">

      <mat-card-content>
        <app-quote-first-step (onFormQuoteGroupChange)="onFormQuoteGroupChangeEvent($event)">

        </app-quote-first-step>
      </mat-card-content>

      <button mat-raised-button type="button" color="secondary" matStepperPrevious>Voltar</button>
      <button mat-raised-button type="button" color="primary" matStepperNext>Proximo</button>

    </mat-card>

  </mat-step>

  <mat-step>

    <mat-card>

      <ng-template matStepLabel>Tipo de pagamento</ng-template>

      <mat-card-content>
        <app-quote-second-step (onSecondFormQuoteGroupChange)="onSecondFormQuoteGroupChangeEvent($event)">

        </app-quote-second-step>
      </mat-card-content>

      <button mat-raised-button type="button" color="secondary" matStepperPrevious>Voltar</button>
      <button mat-raised-button type="button" color="primary" (click)="onSubmit()">Finalizar pedido</button>

    </mat-card>

  </mat-step>

</mat-stepper>

<pre>{{ this.customerForm.value | json }}</pre>
