<div class="container mat-elevation-z2">
  <div>
    <img src="assets/Logotipo-Fram.png" alt="logotipo fram">
  </div>
  <form [formGroup]="userForm">

    <div class="header">

      <h2>
        {{step == 1 ? 'Informações Pessoais' : 'Endereço'}}
      </h2>

      <div>
        <mat-progress-bar [value]="value" [bufferValue]="bufferValue"></mat-progress-bar>
      </div>

    </div>

    <section *ngIf="step == 1" formGroupName="personalInfo">

      <mat-form-field appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="firstName" type="text">
        <mat-error *ngIf="firstName.hasError('required')">Nome é obrigatório</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sobrenome</mat-label>
        <input matInput placeholder="Sobrenome" formControlName="lastName" type="text">
      </mat-form-field>

      <div class="part-field">

        <mat-form-field appearance="outline" id="cpf">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF" formControlName="cpf" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline" id="rg">
          <mat-label>RG</mat-label>
          <input matInput placeholder="RG" formControlName="cpf" type="number">
        </mat-form-field>

      </div>

      <mat-form-field appearance="outline">
        <mat-label>Sexo</mat-label>
        <input matInput placeholder="Sexo" formControlName="cpf" type="number">
      </mat-form-field>

    </section>

    <section *ngIf="step == 2" formGroupName="addressesInfo">

      <div class="part-field">

        <mat-form-field appearance="outline" id="street">
          <mat-label>Logradouro</mat-label>
          <input matInput placeholder="Logradouro" formControlName="street" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline" id="number">
          <mat-label>Número</mat-label>
          <input matInput placeholder="Número" formControlName="number" type="text">
        </mat-form-field>

      </div>

      <div>

        <mat-form-field appearance="outline">
          <mat-label>CEP</mat-label>
          <input matInput placeholder="CEP" formControlName="zipcode" type="number">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Cidade</mat-label>
          <input matInput placeholder="Cidade" formControlName="city" type="text">
        </mat-form-field>
      </div>

    </section>

    <section *ngIf="step == 3" formGroupName="addressesInfo">

      <div class="part-field">

        <mat-form-field appearance="outline" id="cpf">
          <mat-label>Logradouro</mat-label>
          <input matInput placeholder="Logradouro" formControlName="street" type="text">
        </mat-form-field>

        <mat-form-field appearance="outline" id="cpf">
          <mat-label>Número</mat-label>
          <input matInput placeholder="Número" formControlName="number" type="text">
        </mat-form-field>

      </div>

    </section>

    <div class="actions">

      <button mat-raised-button *ngIf="step != 1" color="secondary" (click)="previous()">Anterior</button>
      <button mat-raised-button color="primary" (click)="next()">Próximo</button>

    </div>
  </form>
</div>
