<form [formGroup]="userForm">

  <mat-card>

    <mat-card-header>

      <div>
        <img src="assets/Logotipo-Fram.png" alt="logotipo fram">
      </div>

      <div class="progress-bar">

        <mat-card-title>
          {{step == 1 ? 'Informações Pessoais' : 'Endereço'}}
        </mat-card-title>
        <mat-progress-bar [value]="value" [bufferValue]="bufferValue"></mat-progress-bar>

      </div>

    </mat-card-header>

    <mat-card-content>

      <section *ngIf="step == 1" formGroupName="personalInfo">

        <div>

          <mat-form-field appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome" formControlName="firstName" type="text">
            <mat-error *ngIf="firstName.hasError('required')">Nome é obrigatório</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Sobrenome</mat-label>
            <input matInput placeholder="Sobrenome" formControlName="lastName" type="text">
          </mat-form-field>

        </div>

        <mat-form-field appearance="outline">
          <mat-label>CPF</mat-label>
          <input matInput placeholder="CPF" formControlName="cpf" type="number">
        </mat-form-field>

      </section>

      <section *ngIf="step == 2" formGroupName="addressesInfo">

        <div>

          <mat-form-field appearance="outline" id="street">
            <mat-label>Logradouro</mat-label>
            <input matInput placeholder="Logradouro" formControlName="street" type="text">
          </mat-form-field>

          <mat-form-field appearance="outline" id="number">
            <mat-label>Número</mat-label>
            <input matInput placeholder="Número" formControlName="number" type="text">
          </mat-form-field>

        </div>

        <div>

          <mat-form-field appearance="outline">
            <mat-label>CEP</mat-label>
            <input matInput placeholder="CEP" formControlName="zipcode" type="number">
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Cidade" formControlName="city" type="text">
          </mat-form-field>
        </div>

      </section>

    </mat-card-content>

    <mat-card-actions align="end">
      <button mat-button *ngIf="step != 1" color="secondary" (click)="previous()">Anterior</button>
      <button mat-button color="primary" (click)="next()">Próximo</button>
    </mat-card-actions>

  </mat-card>

</form>
<!-- <pre>{{userForm.value | json}}</pre> -->
