form {
  display: flex;
  justify-content: center;
}

mat-card-content {
  display: flex;
  flex-direction: column;
}

img {
  width: 100px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  width: 70%;
}

mat-card-title {
  margin-right: auto;
}

mat-card {
  width: 80%;
}

mat-form-field {
  margin: 10px;
}

#number {
  width: 20%;
}

#street {
  width: 70%;
}
