<h2>{{title}}</h2>
<form [formGroup]="supplierForm">

  <div class="container">
    <mat-form-field appearance="outline" class="big-input">
      <input matInput maxlength="255" type="text" formControlName="name" placeholder="Nome" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="big-input">
      <input matInput maxlength="255" type="text" formControlName="description" placeholder="Descrição" />
    </mat-form-field>
  </div>

  <div class="container">
    <mat-form-field appearance="outline" class="medium-input">
      <input matInput maxlength="255" type="text" formControlName="email" placeholder="E-mail" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="medium-input">
      <input matInput maxlength="255" type="text" formControlName="phoneNumber" placeholder="Telefone" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="medium-input">
      <input matInput maxlength="255" type="text" formControlName="internalResponsable" placeholder="Contato interno" />
    </mat-form-field>

  </div>



  <div formGroupName="address">

    <div class="container">
      <mat-form-field appearance="outline" class="medium-input">
        <input matInput maxlength="255" type="text" formControlName="zipcode" placeholder="CEP" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="medium-input">
        <input matInput maxlength="255" type="text" formControlName="street" placeholder="Logradouro" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="medium-input">
        <input matInput maxlength="255" type="text" formControlName="number" placeholder="Numero" />
      </mat-form-field>
    </div>

    <div class="container">
      <mat-form-field appearance="outline" class="medium-input">
        <input matInput maxlength="255" type="text" formControlName="neighborhood" placeholder="Bairro" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="medium-input">
        <input matInput maxlength="255" type="text" formControlName="city" placeholder="Cidade" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="medium-input">
        <input matInput maxlength="255" type="text" formControlName="country" placeholder="País" />
      </mat-form-field>
    </div>

  </div>

</form>
<div class="button">
  <button mat-raised-button color="secondary" type="button" routerLink="/suppliers">Voltar</button>
  <button mat-raised-button [disabled]="!supplierForm.valid" color="primary" type="button"
    (click)="submit()">Enviar</button>
</div>
